.input-group-text {
	width: 45px;
}

.navbar .navbar-nav .active>.nav-link {
	font-weight: bold;
}

.nav-pills .nav-item {
	color: black;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.nav-pills .nav-item.active,
.nav-pills .nav-item:hover {
	background-color: #343a40;
	color: white;
}

.nav-pills .nav-item:hover:not(.active) {
	opacity: 0.8;
}

.thead-dark {
	background-color: #343a40;
}

.thead-dark th {
	background-color: #343a40 !important;
}

.table-hover tbody tr:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

table.dataTable thead th {
	background: transparent !important;
	white-space: nowrap;
}

table.dataTable thead span.sort-icon {
	display: inline-block;
	position: absolute;
	margin-left: 5px;
	margin-top: 5px;
	width: 16px;
	height: 16px;
}

table.dataTable thead .sorting span {
	background: url('../images/sort_both.png') no-repeat center right;
}

table.dataTable thead .sorting_asc span {
	background: url('../images/sort_asc.png') no-repeat center right;
}

table.dataTable thead .sorting_desc span {
	background: url('../images/sort_desc.png') no-repeat center right;
}

table.dataTable thead .sorting_asc_disabled span {
	background: url('../images/sort_asc_disabled.png') no-repeat center right;
}

table.dataTable thead .sorting_desc_disabled span {
	background: url('../images/sort_desc_disabled.png') no-repeat center right;
}


table.dataTable thead .sorting::before,
table.dataTable thead .sorting::after,
table.dataTable thead .sorting_asc::before,
table.dataTable thead .sorting_asc::after,
table.dataTable thead .sorting_desc::before,
table.dataTable thead .sorting_desc::after {
	content: "";
}

table.dataTable td.dataTables_empty,
table.dataTable th.dataTables_empty {
	text-align: left;
}

.page-link,
.page-link:hover {
	color: #23272b;
}

.page-item.active .page-link {
	z-index: 1;
	color: #fff;
	background-color: #23272b;
	border-color: #1d2124;
}

.page-link:focus {
	z-index: 2;
	outline: 0;
	box-shadow: 0 0 0 .2rem rgba(52, 58, 64, .5);
}

.form-control:focus,
.custom-select:focus {
	border-color: #1d2124;
	box-shadow: 0 0 0 .2rem rgba(52, 58, 64, .5);
}

.w-40 {
	width: 40%;
}

.w-15 {
	width: 15%;
}

a i {
	cursor: pointer;
}

.fa.fa-times {
	color: #c82333;
}

.deletion-disabled {
	opacity: 0.3;
	cursor: not-allowed;
}

a.view-kanban,
a.view-kanban:hover,
a.view-kanban:focus,
a.view-kanban:active {
	color: rgb(33, 37, 41);
}

.kanban-status, .kanban-title {
    display: inline-block;
    vertical-align: middle;
}

.user-rights {
	font-size: 14px;
	display: block;
}

.medium-editor {
	border: 1px solid #ced4da;
	border-radius: .25rem;
	
}

.medium-editor:focus {
	border-color: #1d2124;
	box-shadow: 0 0 0 .2rem rgba(52, 58, 64, .5);
}

.medium-editor-placeholder-relative::after {
	font-style: normal;
	padding: 2px;
	color: darkgray;
}