.kanban-container {
  padding: 50px 50px 10px 50px;
  height: calc(90vh - 66px);
  white-space: nowrap;
  width: 100%;
  overflow-x: auto;
  color: white;
}

.kanban-list {
  display: inline-block;
  white-space: normal;
  width: 300px;
  height: 100%;
  background-color: rgba(52,58,64, 0.8); /* Couleur du dark bootstrap */
  padding: 10px;
  color: white;
}

.kanban-list + .kanban-list {
  margin-left: 20px;
}

.list-header {
  margin-bottom: 10px;
}

.task-container {
  width: 100%;
  height: calc(100% - 42px);
  overflow-y: auto;
  padding-bottom: 20px;
}

.kanban-task {
  width: 100%;
  min-height: 20px;
  background-color: rgb(52,58,64);
  color:white;
}

.kanban-task + .kanban-task {
  margin-top: 10px;
}

.task-date {
  padding: 5px;
}

.task-attribution {
  text-align: right;
  padding: 5px;
}

.task-draggable {
  cursor: grab;
}